
nav
{
  padding-bottom: 25px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 10px;
  text-align: middle;
  background-color: #e3eaa7;
  font-size: 70px;
  font-family: 'Berkshire Swash', cursive;
}

.row{
   
  padding-top: 30px;
  

}
.button 
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding:10px 30px;
    font-size: 20px;
    color: white;
    background-color: #0D611A;
  font-family: 'Julius Sans One', sans-serif;
}



body
{
  background-color: #e3eaa7;
}

